<header>
    <ul class="menu">
        <li *ngFor="let menuItem of menuItems" [ngClass]="{ 'current': menuItem.active }">
            <a (click)="navigateSelected(menuItem.id)" [attr.data-hover]="menuItem.name">
                {{ menuItem.name }}
            </a>
        </li>
    </ul>
</header>

<div id="main-container">
    <app-home *ngIf="getMenuItemById(0).active"></app-home>
    <app-about-us *ngIf="getMenuItemById(1).active"></app-about-us>
    <app-blog *ngIf="getMenuItemById(2).active"></app-blog>
    <app-services *ngIf="getMenuItemById(3).active"></app-services>
    <app-products *ngIf="getMenuItemById(4).active"></app-products>
    <app-contact *ngIf="getMenuItemById(5).active"></app-contact>
</div>

<footer>

</footer>